// - Those variables should be in every page
- var page = ""
- var loggedIn = true;

doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') #{student_name}'s marks
      div(class='row')
        div(class="col-sm-2")
        div(class="col-sm-8")
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Subject
              th Date
              th Mark
            tr(class="table-row table-row-base")
              td Maths
              td 12/11/19
              td 8
            tr(class="table-row table-row-base")
              td History
              td 10/10/19
              td 6
