// - Those variables should be in every page
- var page = "Marks"
- var loggedIn = true;

mixin rowMark(subject, date, mark)
  tr(class="table-row table-row-base")
    td= date
    td= subject
    td= mark

doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') #{student_name}'s marks
      div(class='row')
        div(class="col-sm-2")
        div(class="col-sm-8" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Date
              th Subject
              th Mark
            +rowMark("Maths", "12/11/19", "8")
            +rowMark("History", "10/10/19", "6" )