mixin list(href, name, icon)
  li
    a(href=href style="color:white; font-size:18px;")
      span(class= icon)
      = ' ' + name
      if block
        block

nav(class='navbar navbar-default')
  if(loggedIn)
    button(class='glyphicon glyphicon-menu-hamburger menuButton btn menuButton hidden-lg' id='side-toggle' onClick="onMenuButtonClick()")
  div(class='container-fluid')
    div(class='navbar-header' style='margin-left:50%')
      a(href='/' class='navbar-brand' style="color: white; font-size:24px;") BB
    ul(class='nav navbar-nav navbar-right hidden-xs')
      if loggedIn
        +list('logout', 'logout', 'glyphicon glyphicon-log-out')