mixin list(href, name, icon)
  li
    a(href=href style="color:black; font-size:16px;" class="navbar-item")
      span(class= icon)
      = ' ' + name
      if block
        block

nav(class='navbar navbar-default')
  if loggedIn
    button(class='glyphicon glyphicon-menu-hamburger menuButton btn menuButton hidden-lg' id='navtoggle' onClick="onMenuButtonClick()")
  div(class='container-fluid')
    div(class='navbar-header' style='margin-left:50px;')
      a(href='/' class='navbar-brand navbar-item') WebSchool
    ul(class='nav navbar-nav navbar-right hidden-xs')
      if loggedIn
        +list('/auth_router/logout', 'Log out', 'glyphicon glyphicon-log-out')
