// - Variables used: "user"

mixin sidebar_item(link, text)
  if(text==active)
    a(class='active-sidebar-item')= text
  else
    a(class='sidebar-item' href=link)= text

div(class='sidebar')
  div(style='margin:40px')
  if(user=="admin")
    +sidebar_item("/admin/parents", "Manage parents")
    +sidebar_item("/enroll", "Enroll student")
    +sidebar_item("/admin/class", "Class composition")
  else if(user=="teacher")
    +sidebar_item("/topics", "Insert daily topic")