* {
    transition-duration: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #E1F5FE;
}

.container-fluid {
    margin-top: 51px;
}

.container {
    margin-top: 51px;
}

.sidebarContainer {
    width: 85%;
    margin-left: 15%;
}

.navbar-item {
    color: black;
}

.navbar-item:hover {
    color: white !important;
}

.navbar-default {
    background-color: #00B0FF !important;
    border: 0px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: -51px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2)
}

.navbar-brand {
    color: rgb(56, 56, 56) !important;
    font-size: 24px;
    transition-duration: 0.2s;
}

.noLinkTitle {
    color: black;
    text-decoration: none;
}

.noLinkTitle:hover {
    color: black;
    text-decoration: none;
}

.blockButton {
    display: block;
    width: 100%;
    color: black;
    background-color: #00B0FF;
    padding: 14px 28px 8px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
    transition-duration: 0.2s;
}

.blockButton_child {
    display: block;
    color: black;
    background-color: #00B0FF;
    cursor: pointer;
    font-size: auto;
    text-align: center;
    transition-duration: 0.2s;
}

.blockButton:hover {
    transition-duration: 0.2s;
    color: white;
    background-color: #0091EA;
}

.activeMenuButton {
    transition-duration: 0.2s;
    color: white;
    background-color: #0091EA;
}

.menuButton {
    display: block;
    color: black;
    background-color: #039BE5;
    cursor: pointer;
    text-align: center;
    position: fixed;
    top: 9px;
    left: 9px;
    transition-duration: 0.2s;
}

.menuButton:hover {
    transition-duration: 0.2s;
    color: white;
    background-color: #0277BD;
}

.title {
    margin-top: 24px;
    text-align: center;
}

.err_msg {
    margin-top: 24px;
    text-align: center;
    color: rgb(226, 45, 45);
    /*font-size: medium;*/
    margin-bottom: 24px;
}

.ok_msg{
    margin-top: 20px;
    text-align: center;
    color: rgb(24, 143, 13);
    /*font-size: medium;*/
    margin-bottom: 20px;
}
.title2 {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 24px;
}

.table-row:hover {
    background-color: #B3E5FC;
}

.table {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
}

.table-row-base {
    background-color: white;
    text-align: center;
    align-content: center;
}
.table-scroll  tbody{
    display:block;
    overflow:auto;
    max-height:200px;
    width:100%;
    table-layout:fixed;
}

.table-scroll thead{
    display: table-header-group;
    background-color: white;
    table-layout:fixed;
}

.table-scroll tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
    table-layout:fixed;
}

th,
td {
    align-content: center;
    text-align: center;
}

.sidebar {
    display: block;
    position: fixed;
    min-width: 200px;
    width: 15%;
    margin-left: 0px;
    background: #B3E5FC;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, .12);
    transition-duration: 0.2s;
}

.sidebar-item {
    text-align: left;
    font-size: larger;
    color: #222222;
    text-decoration: none;
    background: #B3E5FC;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    display: block;
    transition: 0.2s;
}

.sidebar-item:hover {
    text-decoration: none;
    color: #222222;
    display: block;
    background: #81D4FA;
    transition: 0.2s;
}

.active-sidebar-item {
    text-align: left;
    font-size: larger;
    color: #222222;
    font-weight: bold;
    display: block;
    background: #29B6F6;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
}

.active-sidebar-item:hover {
    color: #222222;
    text-decoration: none;
}

input[type="date"] {
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    padding-left: 16px;
}

.smallMarginTop {
    margin-top: 0px;
}

.smallLogout {
    text-align: center !important;
}

.backButton {
    margin-top: 8px;
    font-size: 24px;
    height: auto;
    position: absolute;
    padding: 8px;
}


/* Smaller screens */

@media only screen and (max-width: 1200px) {
    .sidebarContainer {
        margin-left: 0px;
        width: 100%;
    }
    .smallMarginTop {
        margin: 10px;
    }
    .sidebar {
        min-width: 100%;
        width: 100%;
        margin-left: -100%;
        z-index: 1;
    }
    .sidebar-item {
        text-align: center;
        font-size: x-large;
    }
    .active-sidebar-item {
        text-align: center;
        font-size: x-large;
    }
}

@media only screen and (max-width: 768px) {
    .smallLogout {
        text-align: center !important;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}