body {
    background: #EEEEEE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noLinkTitle {
    color: rgb(82, 82, 82);
    
}

.noLinkTitle:hover {
    color: rgb(82, 82, 82);
    text-decoration: none;
}

.blockButton {
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    background-color: rgb(144, 243, 147);
    padding: 14px 28px 8px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.2s;
}

.blockButton:hover {
    transition-duration: 0.2s;
    background-color: rgb(180, 238, 182);
}

.title {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.title2 {
    margin-bottom: 40px;
    text-align: center;
}

.table-row:hover {
    background-color: rgb(116, 230, 120);
}

.table-row-base {
    background-color: white;
    text-align: center; 
    align-content: center;
}

th {
    align-content:center; 
    text-align:center;
}

.sidebar {
    display: block;
    position: absolute;
    min-width: 200px;
    width: 15%;
    margin-left: 0px;
    margin-top: -20px;
    background: #222222;
    height: 100%;
}

.sidebar-item {
    text-align: right;
    font-size: larger;
    color: #222222;
    background: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    display: block;
    width: 98%;
    margin-left: 1%;
    transition: 0.2s;
}

.sidebar-item:hover {
    text-decoration: none;
    color: #222222;
    display: block;
    background: rgb(116, 230, 120);
    transition: 0.2s;
}

.active-sidebar-item {
    text-align: right;
    font-size: larger;
    color: #222222;
    display: block;
    background: rgb(170, 255, 173);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    display: block;
    width: 98%;
    margin-left: 1%;
}

.active-sidebar-item:hover {
    color: #222222;
    text-decoration: none;
}

input[type="date"] {
     -webkit-align-items: center;
     align-items: center;
     overflow: hidden;
     padding: 0;
     padding-left: 16px;
}