body {
    background: rgba(255, 174, 0, 0.075);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
    margin-top: 51px;
}

.container {
    margin-top: 51px;
}

.sidebarContainer {
    width: 85%;
    margin-left: 15%;
}

.navbar-default {
    background-color: #fda253 !important;
    border: 0px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: -51px;
}

.noLinkTitle {
    color: black;
    text-decoration: none;
}

.noLinkTitle:hover {
    color: black;
    text-decoration: none;
}

.blockButton {
    display: block;
    width: 100%;
    color: black;
    background-color: #fc9b47;
    padding: 14px 28px 8px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.2s;
}

.blockButton_child {
    display: block;
    color: black;
    background-color: #fc9b47;
    cursor: pointer;
    font-size: auto;
    text-align: center;
    transition-duration: 0.2s;
}

.blockButton:hover {
    transition-duration: 0.2s;
    color: black;
    background-color: #ff8d29;
}

.menuButton {
    display: block;
    color: white;
    background-color: #fc9b47;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.2s;
}

.menuButton:hover {
    transition-duration: 0.2s;
    color: black;
    background-color: #ff8d29;
}

.title {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.err_msg {
    margin-top: 20px;
    text-align: center;
    color: rgb(226, 45, 45);
    font-size: medium;
    margin-bottom: 20px;
}

.title2 {
    margin-bottom: 40px;
    text-align: center;
}

.table-row:hover {
    background-color: #ffd8b6;
}

.table-row-base {
    background-color: white;
    text-align: center;
    align-content: center;
}

th,
td {
    align-content: center;
    text-align: center;
}

.sidebar {
    display: block;
    position: fixed;
    min-width: 200px;
    width: 15%;
    margin-left: 0px;
    background: #ffc999;
    height: 100%;
    transition-duration: 0.2s;
}

.sidebar-item {
    text-align: right;
    font-size: larger;
    color: #222222;
    text-decoration: none;
    background: #ffddc0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    display: block;
    transition: 0.2s;
}

.sidebar-item:hover {
    text-decoration: none;
    color: #222222;
    display: block;
    background: #ffb471;
    transition: 0.2s;
}

.active-sidebar-item {
    text-align: right;
    font-size: larger;
    color: #222222;
    display: block;
    background: #fda253;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    display: block;
}

.active-sidebar-item:hover {
    color: #222222;
    text-decoration: none;
}

input[type="date"] {
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    padding-left: 16px;
}

.smallMarginTop {
    margin-top: 0px;
}

.menuButton {
    position: fixed;
    top: 9px;
    left: 9px;
}

.smallLogout {
    text-align: center !important;
}

.backButton {
    margin-top: 8px;
    font-size: 24px;
    height: auto;
    position: absolute;
    padding: 8px;
    
}

/* Smaller screens */

@media only screen and (max-width: 1200px) {
    .sidebarContainer {
        margin-left: 0px;
        width: 100%;
    }

    .smallMarginTop {
        margin: 10px;
    }

    .sidebar {
        min-width: 100%;
        width: 100%;
        margin-left: -100%;
        z-index: 1;
    }
    
    .sidebar-item {
        text-align: center;
        font-size: x-large;
    }

    .active-sidebar-item {
        text-align: center;
        font-size: x-large;

    }

}

@media only screen and (max-width: 768px) {
    .smallLogout {
        text-align: center !important;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}