//- Those variables should be in every page. ALWAYS PASS childID, fullName, courseID
- var page = "Course topics"
- var loggedIn = true
- var user = "parent"
- var active = ""

//- variables: courseName, topics[] {date, description}

mixin rowTopic(date, description)
  tr(class="table-row table-row-base")
    td(style="width: 30%;")= (date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear())
    td(style="width: 70%; text-align: left; padding-left: 20px;")= description

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      a(href="../"+courseID class="noLinkTitle backButton")
        span(class="glyphicon glyphicon-menu-left backButton")
      div(class='row')
        h1(class='title') #{student_name}
      div(class='row')
        h2(class='title2') #{courseName} topics
      div(class='row')
        div(class="col-lg-2 col-sm-2")
        div(class="col-lg-8 col-sm-12 col-xs-12" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Date
              th Topic
            for topic in topics
              +rowTopic(topic.date, topic.description)