//- Those variables should be in every page. ALWAYS PASS childID, fullName, courseID
- var page = "Course marks"
- var loggedIn = true
- var user = "parent"
- var active = "Show course marks"

//- variables used: student_name, student_marks[] {date, mark}, course_name

mixin rowMark(date, mark)
  tr(class="table-row table-row-base")
    td= (date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear())
    td= mark

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      a(href="../"+courseID class="noLinkTitle backButton")
        span(class="glyphicon glyphicon-menu-left backButton")
      div(class='row')
        h1(class='title') #{student_name}
      div(class='row')
        h2(class='title2') #{courseName} marks
      div(class='row')
        div(class="col-lg-2 col-sm-2")
        div(class="col-lg-8 col-sm-12 col-xs-12" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Date
              th Mark
            for mark in student_marks
              +rowMark(mark.date, mark.mark)
