//- Those variables should be in every page. ALWAYS PASS childID, fullName
- var page = "Notes and absences"
- var loggedIn = true
- var user = "parent"
- var active = "Notes and absences"

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class="container sidebarContainer")
      a(href="/parent/parent_home" class="noLinkTitle backButton")
        span(class="glyphicon glyphicon-menu-left backButton")