//- Those variables should be in every page
- var page = pageId
- var loggedIn = true
- var user = "parent"
- var active = ""

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug