//- Those variables should be in every page. ALWAYS PASS childID, fullName
- var page = "Courses"
- var loggedIn = true
- var user = "parent"
- var active = "Show courses"

//- Varialbes: childID, courses[] {id, name, color, newRow}, course_hours[7][6] (it only has colors)

mixin subjectButton(id, subject, color)
  div(class="row hidden-md hidden-lg")
  div(class="col-xs-1 hidden-md hidden-lg")
  div(class="col-md-4 col-xs-10" style="margin-top: 16px;")
    a(href= "/parent/"+childID+"/course/"+id class="noLinkTitle")
      button(class="btn blockButton noLinkTitle")
        div(class="row")
          div(class="col-xs-1")
            div(style="width:20px; height:20px; border:1px solid black; margin-left:0px; display:inline-block; margin-right:20px; background:"+color)
          =subject

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      //- Course list
      div(class='row')
        h1(class='title') Courses
      for course in courses
        if course
          +subjectButton(course.course_id, course.courseName, "#"+course.color)

    div(class='container sidebarContainer')
      //- Time table
      div(class='row')
        h1(class='title2') #{className} - Class Timetable
      div(class='row')
        div(class="col-lg-12" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class="table-row-base hidden-xs")
              th(style="width:10%;") Hour
              th(style="width:15%;") Monday
              th(style="width:15%;") Tuesday
              th(style="width:15%;") Wednesday
              th(style="width:15%;") Thursday
              th(style="width:15%;") Friday
            tr(class="table-row-base hidden-sm hidden-md hidden-lg")
              th(style="width:10%;") H
              th(style="width:15%;") Mon
              th(style="width:15%;") Tue
              th(style="width:15%;") Wed
              th(style="width:15%;") Thur
              th(style="width:15%;") Fri

            - var i = 0
            for row in course_hours
              tr(class="table-row-base")
                td= start_time_slot[i]
                - i++;
                for col in row
                  td(style = "text-align:center; font-weight: bold; background-color:#" + col.color)
                    |&nbsp#{col.courseName}&nbsp 
                    br
                    |&nbsp#{col.teacherFullName}
            //-Metto &nbsp prima e dopo per centrare la scritta
            //-Metto &nbsp per avere la stessa dimensione per celle piene e celle vuote
