// - Those variables should be in every page
- var page = "Marks"
- var loggedIn = true
- var user = "parent"
- var active = "Show all marks"

mixin loginBtn(text, image, href)
  div(class='hidden-sm hidden-md hidden-lg col-xs-1')
  div(class='col-sm-4 col-xs-10 smallMarginTop')
    a(href = href)
      button(class='btn blockButton')
        div(class='row')
          img(src= image style='width:100%;height:auto;')
        div(class='row')
          a(class='noLinkTitle' style='margin-top: 20px;')= text


doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    include base/sidebar.pug
    div(class='container')
      div(class='row')
        h1(class='title') #{student_name}'s marks
      div(class='row')
        div(class="col-lg-3 col-sm-2 col-xs-1")
        div(class="col-lg-6 col-sm-8 col-xs-10" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Date
              th Subject
              th Mark
            for mark in student_marks
              +rowMark(mark.subject, mark.date, mark.mark)