// - Those variables should be in every page
- var page = user + " login";
- var loggedIn = false;

doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') INSERT NEW PASSWORD
      div(class='row')
        h2(class = 'title2') Please, insert here a new password
        h2(class = 'err_msg') &nbsp #{err_msg}
      //- Parametric form
      form(action='/auth_router/change_pwd' method="POST") 
        div(class='row')
          div(class='col-sm-3')
          div(class='col-sm-6')
            div(class='form-group')
              label(for='password') Password:
              input(type="password" class='form-control' id='password' name="password")
        div(class='row')
          div(class='col-sm-7')
          div(class='col-sm-2')
            input(type='SUBMIT' value='change_pwd' name='change' class='btn blockButton' style='margin-top: 24px; padding: 6px 10px; margin-left:25%; width: 75%;')