// Those variables should be in every page
- var page = ""
- var loggedIn = false;


doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        div(class='col-sm-2 col-xs-1')
            form(method='POST' action='/register')
                div.form-group
                    label(for='name') Name:
                    input#name.form-control(type='text', placeholder='First Name', name='name')
                div.form-group
                    label(for='surname') Surname:
                    input#name.form-control(type='text', placeholder='Last Name', name='surname')    
                div.form-group
                    label(for='fiscalcode') Fiscal Code:
                    input#email.form-control(type='text', placeholder='Fiscal Code', name='fiscalcode')
                div.form-group
                    label(for='Parent 1') Parent 1:
                    input#email.form-control(type='text', placeholder='Parent 1', name='parent1')
                div.form-group
                    label(for='Parent 2') Parent 2:
                    input#email.form-control(type='text', placeholder='Parent 2', name='parent2')
                button.btn.btn-primary(type='submit') Register Student