// Those variables should be in every page
- var page = ""
- var loggedIn = false

doctype html
script(src='https://kit.fontawesome.com/a076d05399.js')
head
  title BB
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  meta(name='description' content='')
  meta(name='keywords' content='')
  link(rel='stylesheet', href='/assets')
header#header
  a.logo(href='home') BB
// Banner
section#banner
  .inner
    h1 Welcome to BB
    p
      | Who are you?
.highlights
  section
    .content
      header
        a.icon.fa-users(href="/auth_router/login_parent")
          span.label Icon
        h3 Parent
      
  section
    .content
      header
        a.icon.fa-university(href="/auth_router/login_teacher")
          span.label Icon
        h3 Teacher
      
  section
    .content
      header
        a.icon.fa-address-book(href='/auth_router/login_collaborator')
          span.label Icon
        h3 Collaborator