// Those variables should be in every page
- var page = ""
- var loggedIn = false;

mixin loginBtn(text, image, href)
  div(class='col-sm-4 col-xs-5')
    a(href = href)
      button(class='btn blockButton')
        div(class='row')
          img(src= image style='width:100%;height:auto;')
        div(class='row')
          a(class='noLinkTitle' style='margin-top: 20px;')= text

doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') Welcome to BB
      div(class='row')
        h2(class = 'title2') Who are you?
      div(class='row')
        // - div(class='col-sm-2 col-xs-1')
        +loginBtn('Collaborator', '../images/teacher.png', 'login_collaborator')
        +loginBtn('Teacher', '../images/teacher.png', 'login_teacher')
        +loginBtn('Parent', '../images/parent.png', 'login_parent')