//- Those variables should be in every page
- var page = "Teacher " + " login";
- var loggedIn = false;

//- Unified login page
//- variables used: msg, user, shownUser
doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') #{shownUser} login 
      div(class='row')
        h2(class = 'title2') Please, sign in
        h2(class = 'err_msg') #{msg}
      //- Parametric form
      form(action='/auth_router/login/'+user method="POST") 
        div(class='row')
          div(class='col-lg-3 col-sm-1')
          div(class='col-lg-6 col-xs-12 col-sm-10')
            div(class='form-group')
              label(for='cod_fisc') SSN:
              input(type="text" class='form-control' id='cod_fisc' name="cod_fisc" required)
        div(class='row')
          div(class='col-lg-3 col-sm-1')
          div(class='col-lg-6 col-xs-12 col-sm-10')
            div(class='form-group')
              label(for='password') Password:
              input(type="password" class='form-control' id='password' name="password" required)
        div(class="row")
          div(class='col-sm-7 col-lg-6')
          div(class='col-sm-4 col-lg-3 col-xs-10')
            input(type='SUBMIT' value='Log in' name='login/'+user class='btn blockButton' style='margin-top: 24px; padding: 6px 10px; margin-left:25%; width: 75%;')