// - Those variables should be in every page
- var page = user + " login";
- var loggedIn = false;

doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') Welcome, #{user}
      div(class='row')
        h2(class = 'title2') Please, sign in
      // - Parametric form
      form(action="/action/login_" + user, method="POST") 
        div(class='row')
          div(class='col-sm-3')
          div(class='col-sm-6')
            div(class='form-group')
              label(for='SSN') SSN:
              input(type="text" class='form-control' id='SSN' name="SSN")
        div(class='row')
          div(class='col-sm-3')
          div(class='col-sm-6')
            div(class='form-group')
              label(for='passwd') Password:
              input(type="password" class='form-control' id='passwd' name="passwd")
        div(class='row')
          div(class='col-sm-7')
          div(class='col-sm-2')
            input(type='SUBMIT' value='Log in' class='btn blockButton' style='margin-top: 24px; padding: 6px 10px; margin-left:25%; width: 75%;')