// Those variables should be in every page
- var page = ""
- var loggedIn = false;


doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        td= topic_course
        td= topic_date
        td= topic_class
        td= topic_desc