// - Those variables should be in every page
- var page = "Marks"
- var loggedIn = true

//- mixin rowMark(subject, date, mark)
//-   tr(class="table-row table-row-base")
//-     td= (date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear())
//-     td= subject
//-     td= mark

doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') #{student_name}'s marks
      div(class='row')
        div(class="col-lg-3 col-sm-2 col-xs-1")
        div(class="col-lg-6 col-sm-8 col-xs-10" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Date
              th Subject
              th Mark
            for mark in student_marks
              tr
                td= mark.date_mark
                td= mark.course_id
                td= mark.score
               
            
