// Those variables should be in every page
- var page = ""
- var loggedIn = false;


doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    div(class='container')
      div(class='row')
        div(class='col-sm-2 col-xs-1')
            form(method='POST' action='/reg_topic')
                div.form-group
                    label(for='course') Course:
                    input#name.form-control(type='text', placeholder='Latin' name='course')
                div.form-group
                    label(for='date') Date:
                    input#name.form-control(type='date', placeholder='1/1/2000' name='date')    
                div.form-group
                    label(for='class') Class:
                    input#email.form-control(type='text', placeholder='1A' name='class')
                div.form-group
                    label(for='desc') Desc:
                    input#email.form-control(type='text', placeholder='Some bullshit' name='desc')
                button.btn.btn-primary(type='submit') Sign up