- var page = "Select action"
- var loggedIn = true
- var user = "pricipal"
- var active = "Select action"
- var sidebarForceHidden = true;



doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug