//- Those variables should be in every page. Always pass fullName
- var page = courseName
- var loggedIn = true
- var user = "teacher"
- var active = "Show course home"

//- Uses variable: courseName, childID

mixin button(first, last,id)
  div(class="row" margin-bottom="16px")
    div(class="col-xs-1 col-lg-4")
    div(class="col-xs-10 col-lg-4")
      a(href= "/student/" + id + "course/"+courseID class="noLinkTitle") 
        button(class="btn blockButton noLinkTitle" ) #{last} #{first}

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class="container sidebarContainer")
      a(href="/teacher/teacher_home" class="noLinkTitle backButton")
        span(class="glyphicon glyphicon-menu-left backButton")
      div(class="row")
        h2(class = 'title') Student's List
        if n_students<=0
            h2(class = 'err_msg')=message
            
        else 
            for student in student_array
                +button(student.first_name,student.last_name,student.id)
