// Those variables should be in every page
- var page = "Upload file"
- var loggedIn = true;
- var user = "admin"
- var active = "Upload file"

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      div(class='row')
        h1(class='title') Upload file
      div(class='row')
        if flag_ok == 1
          h2(class = 'ok_msg') &nbsp #{message} &nbsp
        else
          h2(class = 'err_msg') &nbsp #{message} &nbsp
      form(method='POST' action="/teacher/class/"+classid+"/course/"+courseid+"/up_file")
        div(class='row' style='margin-top: 40px;')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='file') Class-Course:
              select(name="course")
                for course in Courses
                  option(value=course) #{course}
        div(class='row')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='desc') Description:
              input(type='text' placeholder='Description' name='desc' class="form-control")
        div(class='row')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='file') File:
              input(type='file' placeholder='File' name='file' class="form-control")
        div(class='row')
          div(class='col-sm-8 col-lg-6')
          div(class='col-sm-4 col-lg-3 col-xs-10')
            input(type='SUBMIT' value='Upload file' class='btn blockButton' style='margin-top:24px; padding: 6px 10px; margin-left:25%; width:75%;')