// Those variables should be in every page
- var page = "Add material"
- var loggedIn = true;
- var user = "teacher"
- var active = "Add material"

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      div(class='row')
        h1(class='title') Add material
      div(class='row')
        if flag_ok == 1
          h2(class = 'ok_msg') &nbsp #{message} &nbsp
        else
          h2(class = 'err_msg') &nbsp #{message} &nbsp
      form(method='POST' action="/teacher/class/"+classID+"/course/"+courseID+"/up_file" enctype="multipart/form-data")
        div(class='row' style='margin-top: 40px;')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='desc') Description:
              input(type='text' placeholder='Description' name='desc' class="form-control")
        div(class='row')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='file') File:
              input(type='file' placeholder='File' name='file' class="form-control")
        div(class='row')
          div(class='col-sm-8 col-lg-6')
          div(class='col-sm-4 col-lg-3 col-xs-10')
            input(type='SUBMIT' value='Upload file' class='btn blockButton' style='margin-top:24px; padding: 6px 10px; margin-left:25%; width:75%;')