//- Those variables should be in every page. Always pass fullName
- var page = "Absences"
- var loggedIn = true
- var user = "teacher"
- var active = "Insert attendance"

//- Variables used: courseName, students[] {id, first_name, last_name, absent, lateEntry, earlyExit},
  className

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class="container sidebarContainer")
    div(class="row")
      h1(class = 'title') #{className} - Student attendance