body {
    background: #fffcf5;
}

h1 {
    margin-top: 40px;
    text-align: center;
    color: coral;
}

.topright {
    position: fixed;
    vertical-align: top;
    top: 50px;
    right: 100px;
}

.loginbtn {
    padding: 15px 32px;
    border-radius: 5px;
    background: cornsilk;
    border: 1px solid darkgray;
    font-size: 20px;
    cursor: pointer;
}

.selectbtn {
    border-radius: 10px;
    align-content: center;
    padding: 75px 160px;
    background: cornsilk;
    margin: 20px;
    border: 1px solid darkgray;
    font-size: 32px;
    cursor: pointer;
}

.text {
    padding: 10px 5px;
    margin: 20px;
}