// Those variables should be in every page
- var page = "Enroll parent"
- var loggedIn = false;
- var user = "admin"
- var active = "Enroll parent"

doctype html
html
  include base/head.pug
  body
    include base/navbar.pug
    include base/sidebar.pug
    div(class='container')
      div(class='row')
        h1(class='title') Enroll principal
      form(method='POST' action='/reg_principal')
        div(class='row' style='margin-top: 40px;')
          div(class='col-sm-4')
          div(class='col-sm-4')
            div.form-group
              label(for='name') First Name:
              input(type='text' placeholder='First Name' name='name' class="form-control")
        div(class='row')
          div(class='col-sm-4')
          div(class='col-sm-4')
            div.form-group
              label(for='surname') Last Name:
              input(type='text' placeholder='Last Name' name='surname' class="form-control")
        div(class='row')
          div(class='col-sm-4')
          div(class='col-sm-4')
            div.form-group
              label(for='SSN') SSN:
              input(type='text' placeholder='SSN' name='SSN' class="form-control")
        div(class='row')
          div(class='col-sm-4')
          div(class='col-sm-4')
            div.form-group
              label(for='Email') Email:
              input(type='text' placeholder='Email' name='email' class="form-control")
        div(class='row')
          div(class='col-sm-4')
          div(class='col-sm-4')
            div.form-group
              label(for='Pwd') Password:
              input(type='text' placeholder='Password' name='password' class="form-control")
        div(class='row')
          div(class='col-sm-6')
          div(class='col-sm-3')
            input(type='SUBMIT' value='Enroll principal' class='btn blockButton' style='margin-top: 24px; padding: 6px 10px; width: 75%;')
