// Those variables should be in every page
- var page = "Daily topic"
- var loggedIn = false;
- var date = new Date();
- var user= "admin"
- var active= "Insert communication"

- var dateString = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate()

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container')
      div(class='row')
        h1(class='title') Insert communication
      form(method='POST' action='/insert_comm' id="regform")
        div(class='row' style='margin-top: 40px;')
          div(class='col-sm-3')
          div(class='col-sm-6')
            div.form-group
              label(for='desc') Description:
              textarea(name="desc" form="regform" class="form-control")
        div(class='row')
          div(class='col-sm-6')
          div(class='col-sm-3')
            input(type='SUBMIT' value='Insert communication' class='btn blockButton' style='margin-top: 24px; margin-left: 25%; padding: 6px 10px; width: 75%;')