//- Those variables should be in every page
- var page = "Choose type of register function"
- var loggedIn = true
- var user = "admin"
- var active = "Choose type of register function"

mixin loginBtn(text, image, href)
  div(class='hidden-sm hidden-md hidden-lg row')
  div(class='hidden-sm hidden-md hidden-lg col-xs-1')
  div(class='col-sm-5 col-lg-3 col-xs-10' style="margin-bottom:32px")
    a(href = href)
      button(class='btn blockButton')
        div(class='row')
          img(src= image style='width:100%;height:auto;')
        div(class='row' style='margin-top: 8px;')
          a(class='noLinkTitle')= text

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') Welcome to WebSchool
      div(class='row')
        h2(class = 'title2') What kind of operation do you would to do?
      div(class='row')
        div(class='col-xs-12')
          div(class='col-sm-1 hidden-lg') 
          +loginBtn('Student', '../images/student.png', '/officer/enroll_student')
          +loginBtn('Parent', '../images/parent.png', '/officer/enroll_parent')
          div(class="row hidden-lg")
          div(class='col-sm-1 hidden-lg')
          +loginBtn('Class', '../images/classroom.png', '/officer/class_composition')
          +loginBtn('Communication', '../images/communication.png', '/officer/insert_communication')



