//- Those variables should be in every page
- var page = "Choose type of register function"
- var loggedIn = true
- var user = "admin"
- var active = "Choose type of register function"

mixin loginBtn(text, image, href)
  div(class='hidden-sm hidden-md hidden-lg col-xs-1')
  div(class='col-sm-4 col-xs-10 smallMarginTop')
    a(href = href)
      button(class='btn blockButton')
        div(class='row')
          img(src= image style='width:100%;height:auto;')
        div(class='row')
          a(class='noLinkTitle' style='margin-top: 20px;')= text

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    div(class='container')
      div(class='row')
        h1(class='title') Welcome to BB
      div(class='row')
        h2(class = 'title2') What type of person you would register?
      div(class='row')
        +loginBtn('Student', '../images/teacher.png', '/admin/enroll_student')
        +loginBtn('Parent', '../images/teacher.png', '/admin/enroll_parent')
   


