//- Those variables should be in every page
- var page = "Class composition"
- var loggedIn = true;
- var user = "officer"
- var active = "Class composition"


doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      div(class='row')
        h1(class='title') Class Composition
      div(class='row')
        form(method='POST' action="/officer/up_class" id="regform")
          div(class='row' style='margin-top: 40px;')
            div(class='col-sm-3')
            div(class='col-sm-6')
              div.form-group
                select(id='select_class')
                  each classitem in classlist
                    option(value=classitem.id selected) #{classitem.class_name}
          div(class='row')
            div(class='col-sm-3')
            div(class='col-sm-6')
              div.form-group
                //- start
                select(id='pre-selected-options' multiple='multiple')
                  each studentnoclassitem in studentnoclass
                      option(value=studentnoclassitem.id) #{studentnoclassitem.first_name+ " " +studentnoclassitem.last_name}
                  
                //- ends

                //- questi script sono commentati perchè ci sono già nell'head ma di altre versioni e non so come gestirle

                //- jQuery
                //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
                //- Bootstrap JavaScript
                //- script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js')

                script(type='text/javascript' src='/multiselect')
                script(type='text/javascript').
                  // run pre selected options
                  $('#pre-selected-options').multiSelect();
          div(class='row')
            div(class='col-sm-3')
            div(class='col-sm-6')
              input(type='SUBMIT' value='Update class' class='btn blockButton' style='margin-top: 24px; padding: 6px 10px;')
