// Those variables should be in every page
- var page = "Enroll student"
- var loggedIn = true;
- var user = "admin"
- var active = "Enroll student"

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      div(class='row')
        h1(class='title') Enroll student
      div(class='row')
        if flag_ok == 1
          h2(class = 'ok_msg') &nbsp #{message}
        else
          h2(class = 'err_msg') &nbsp #{message}

      form(method='POST' action='/officer/reg_student')
        div(class='row' style='margin-top: 40px;')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='name') Name:
              input(type='text' placeholder='First Name' name='name' class="form-control")
        div(class='row')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='surname') Last name:
              input(type='text' placeholder='Last Name' name='surname' class="form-control")
        div(class='row')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='SSN') SSN:
              input(type='text' placeholder='SSN' name='SSN' class="form-control")
        div(class='row')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='SSN') SSN parent 1:
              input(type='text' placeholder='SSN' name='SSN1' class="form-control")
        div(class='row')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='SSN') SSN parent 2:
              input(type='text' placeholder='SSN' name='SSN2' class="form-control")
        div(class='row')
          div(class='col-sm-8 col-lg-6')
          div(class='col-sm-4 col-lg-3 col-xs-10')
            input(type='SUBMIT' value='Enroll student' class='btn blockButton' style='margin-top:24px; padding: 6px 10px; margin-left:25%; width:75%;')

