// Those variables should be in every page
- var page = "Communications"
- var loggedIn = true;
- var date = new Date();
- var user= "admin"
- var active= "Insert communication"

- var dateString = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate()

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      div(class='row')
        h1(class='title') Insert communication
      div(class='row')
        if flag_ok == 1
          h2(class = 'ok_msg') &nbsp #{message} &nbsp
        else
          h2(class = 'err_msg') &nbsp #{message} &nbsp
      form(method='POST' action='/officer/insert_comm' id="regform")
        div(class='row' style='margin-top: 40px;')
          div(class='col-lg-3 col-sm-1')
          div(class='col-lg-6 col-xs-12 col-sm-10')
            div.form-group
              label(for='desc') Communication:
              textarea(name="desc" form="regform" class="form-control" rows="6" style="resize:none")
        div(class='row')
          div(class='col-sm-6 col-md-7 col-lg-5')
          div(class='col-sm-5 col-md-4 col-lg-4 col-xs-12')
            input(type='SUBMIT' value='Insert communication' class='btn blockButton' style='margin-top: 24px; padding: 6px 10px;')